@import '_null.scss';
@import 'light_mode.scss';
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Libre+Bodoni:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

body {
  color: $text;
  background-color: $background;
  font-family: 'DM Sans', sans-serif;
  user-select: none;
}

.wrapper {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
}
.curriculum {
  flex: 1 1 100%;

  &__container {
    max-width: 808px;
    height: 100%;
    padding: 0 20px;
    margin: 0 auto;
  }

  &__body {
    display: grid;
    grid-template: auto 1fr auto / 1fr;
    gap: 40px;
    height: 100%;
  }

  &__title {
    display: flex;
    justify-content: center;
    font-family: 'Libre Bodoni', serif;
    font-size: 82px;
    font-weight: 700;
    text-transform: uppercase;
    transition: transform .5s ease-in-out;
    user-select: none;

    &:hover {
      transform: translateY(0);
      transition: transform .5s ease-in-out;
    }

    &_top {
      padding: 40px 0 0 0;
      transform: translateY(-55%);
    }

    &_bottom {
      padding: 0 0 35px 0;
      transform: translateY(65%);
    }
  }

  &__section-list {
  }
}
.section-list {
  &__body {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  &__section {
  }
}
.section {
  position: relative;
  display: grid;
  grid-template: 1fr / 0.3fr 0.7fr;
  padding: 30px 0 0 0;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 1px;
    background-color: $text;
    opacity: .35;
  }

  &__main-title {
    font-size: 16px;
    font-weight: 700;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__chapter {}
}
.chapter {

  &__body {
  }

  &__title {
    margin: 0 0 5px 0;
    font-size: 16px;
    font-weight: 700;
  }

  &__subtitle {
    margin: 0 0 5px 0;
    font-weight: 500;
    line-height: 20px;

    span:last-child { color: #949494; }
  }

  &__date {
    margin: 0 0 10px 0;
    font-size: 12px;
    font-weight: 500;
    color: #6c6c6c;
  }

  &__description {
    line-height: 20px;
    color: #6c6c6c;
  }

  &__list {
    padding: 0 0 0 15px;
    
    li {
      &:nth-child(1), &:nth-child(2) { user-select: text; }
      &:not(:last-child) { margin: 0 0 5px 0; }

      a { text-decoration: underline; }
    }
  }
}

@media(max-width: 424.98px) {
  .curriculum {
    &__container {
      max-width: none;
    }

    &__title {
      font-size: 72px;
    }
  }
  .section {
    grid-template: none;

    &__main-title {      
      margin: 0 0 10px 0;
      font-size: 18px;
      text-align: end;
    }
  }
}

@media(max-width: 360px) {
  .curriculum {
    &__title {
      font-size: 64px;
    }
  }
}


@media(max-width: 330px) {
  .curriculum {
    &__title {
      font-size: 60px;
    }
  }
}
